:root{

    --purple-light: #A306CF;
    --purple: #861878;
    --purple-hover: #62087C;

    --purple-black-gradient: linear-gradient(180deg, rgba(134,24,120,1) 0%, rgba(0,0,0,1) 100%);

    --black: #000000;
    --light-gray: #989898;
    --white: #ffffff;

}

body{
    overflow: hidden;
}

.mainBox{
    background: var(--purple);
    background: var(--purple-black-gradient);

    color: var(--white);
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;

    height: 96vh;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0;
}

.title{
    text-align: center;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="submit"]{
    width: 12rem;
    height: 3rem;
    border-radius: 7rem;

    border: none;

    color: var(--white);

    background-color: var(--purple);
    transition: ease-in 0.5s;
}
input[type="submit"]:hover{
    background-color: var(--purple-hover);
    cursor: pointer;
    box-shadow: 0 0 10px 5px var(--purple-light);
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register a {
    color:  var(--purple-light);
}


.footer{
    background: var(--black);

    color: var(--purple-light);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    font-size: 0.5rem;

    text-align: center;
}

