<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="../static/css/homepage.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/main.css">

        <link rel="icon" type="image/x-icon" href="../static/img/Organify-_1_.ico">
    </head>

    <body >

        <div class="mainBox">

            <div class="caixa">

                <div class="sidebar">

                    <div class="logo">
                        <img src="../static/img/logo.png" alt="">
                    </div>
                    
                    <nav class="navegacao">
                        <a href="/organizar" class="">Organize sua playlist</a>
                        <a href="/randomizar" class="">Randomizar</a>
                        <a href="" class="">Stats</a>
                        <a href="/" class="">logout</a>
                    </nav>

                </div>
        
                <div class="main">
        
                    <div class="header">

                        <div class="profilePic">
                            <img src="{{dados.0.images.0.url}}" alt="img user">
                        </div>
        
                        <div class="profileName">
                            <h1>{{dados.0.display_name}}</h1>
                        </div>

                    </div>
        
                    <div class="content">
        
                        <div class="title">
                            Minhas playlists
                        </div>

                        <div class="playlists">
                            {% for playlist in dados.1 %}
                            <div class="playlist">
                                
                                <div class="playlistName">

                                    <a target="_blank" href="https://open.spotify.com/playlist/{{playlist.id}}"> {{playlist.name}} </a>

                                </div>
                            

                                <div class="playlistIMG">
                                    {% if playlist.images|length != 0%}
                                    <img src='{{playlist.images.0.url}}'/>
                                    {% else %}
                                    <img src='https://www.freeiconspng.com/uploads/no-image-icon-4.png'/>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}                    
                        </div>
                    </div>
        
                </div>
                
            </div>

        </div>

    </body>
</html>