<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* HIDE RADIO */
        [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        transition: all 250ms;
        }

        /* IMAGE STYLES */
        [type=radio] + img {
        cursor: pointer;
        transition: all 250ms;
        }

        /* CHECKED STYLES */
        [type=radio]:checked + img {
            border-radius: 50%;
            border: 2px solid #f00;
        }
    </style></head>
<body>
    <h1>
        Clique na capa da playlist desejada
    </h1>
    <form action="/organizar/playlist">
    <fieldset>
    <table>
{% for playlist in dados %}
        <tr>
            <td>{{playlist.name}}</td>
            {% if playlist.images|length != 0%}

            <td>
            <label>
                <input type="radio" name="playlistLink" value="{{playlist.href}}">
                <img src="{{playlist.images.0.url}}" width="50px" height="50px">
            </label>
        </td>
            {% else %}
            <td><label>
                <input type="radio" name="playlistLink" value="{{playlist.href}}">
                <img src="https://www.freeiconspng.com/uploads/no-image-icon-4.png" width="50px" height="50px">
            </label></td>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
        </fieldset>
        <input type="submit" value="Selecionar">
        </form>
    </table>
</body>
</html>