<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> Prévia playlist organizada </title>

      <link rel="icon" type="image/x-icon" href="../static/img/Organify-_1_.ico">

      <link rel="stylesheet" href="{{url_for('static', filename='css/previa.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

      <script>
          function mostrarDiv() {
            var select = document.getElementById("selecionarDiv");
            var divSelecionada = select.value;
            var divs = document.getElementsByClassName("conteudo");
            for (var i = 0; i < divs.length; i++) {
              divs[i].style.display = "none";
            }
            document.getElementById(divSelecionada).style.display = "block";

          }

          function aparece(){
              const sidebar = document.getElementById('sidebar');
              sidebar.classList.toggle('sidebar-show')
          }
      </script>
  
  </head>

  <body>

      <div class="mainBox">

        <div class="caixa">

            <div class="toggle-sidebar">
                <button onclick="aparece()"><i class="fas fa-bars"></i></button>
            </div>
            <div class="sidebar" id="sidebar">

            <div class="logo">
                <img src="{{url_for('static', filename='img/logo.png  ')}}" alt="">
            </div>
            
            <nav class="navegacao">
                <a href="/home" class="">Início</a>
                <a href="/organizar" class="">Organize sua playlist</a>
                <a href="/randomizar" class="">Randomizar</a>
                <a href="/" class="">logout</a>
            </nav>

        </div>

        <div class="main">

          <form action="/organizar/playlist/filtrado/organizado">

            <div class="escolha">
              <select id="selecionarDiv" onchange="mostrarDiv()">
                <option value="conteudo">Selecione</option>
                {% for key, value in dados.items() %}
                {% if key != 'nome'%}
                <option value="{{dados.nome}} - {{key}}">{{dados.nome}} - {{key}}</option>
                {% endif %}
                {% endfor %}
              <input type="submit" value="organizar">
            </div>

          </form>
          <div class="playlistOrganizada">
            {% for key, value in dados.items() %}
              {% if key != 'nome'%}
              <div class="conteudo" id="{{dados.nome}} - {{key}}">
                <h1>{{dados.nome}} - {{key}}</h1>
                {% for valor in value%}
                  <div class="song">
                  
                    <div class="songName">
                      <p>{{valor.nome}}</p>
                    </div>

                    <div class="songImg">
                      <img src='{{valor.foto}}'>
                    </div>

                  </div>

                    {% else %}
                    <p></p>
                {% endfor %}
              </div>
              {% endif %}
            {% endfor %}
            
        </div>
        
    </div>

  </body>
</html>